.Rproj.user
.Rhistory
.RData
.Ruserdata
*.DS_Store
data/*
docs/
IMCDataAnalysis.Rmd
IMCDataAnalysis_files/
IMCDataAnalysis.rds
_bookdown_files/
*~*
*.md
*.rds
outputs/*

!README.md
!publication/README.md
!publication/protocol.md
!CHANGELOG.md
